<header>
    <div class="top-header">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>  
        <div class="logo"> 
            <img src="/images/logo.png" alt="Logo">
        </div>   
        <nav class="menu-nav">
            <ul class="menu-1">
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Macetas</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
            <ul class="menu-2">
                <li><a href="/login">  <span> Ingresa </span> <i class="fas fa-sign-in-alt"></i>  </a></li>
                <li><a href="/register"> <span> Registrate </span> <i class="fas fa-id-card"></i></a></li>
                <li><a href="/productCart"> <span>Tu carrito </span><i class="fas fa-shopping-basket"> </i></a></li>
            </ul>
        </nav>
    </div>
</header>