<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        <%- include('../partials/banner.ejs') %>
        
        <div class="titulo-ingreso-datos">
            <h2 > Registra tus datos:</h2>
        </div>
            
        <form class="ingreso-datos" action="/register" method="POST">
            
            <div><input type="text" name="nombre" placeholder="Nombre completo"></div> 
            <div><input type="email" name="correo" placeholder="Correo electrónico"></div> 
            <div><input type="text" name="user" placeholder="Nombre de usuario"></div> 
            <div><input type="password" name="pass" placeholder="Elegí tu contraseña"></div> 
            <div class="botones">
                <div><input class="boton_enviar" type="submit" value="Enviar"></div>
                <div><input class="boton_reset" type="reset" value="Borrar"></div>
            </div>
        
        </form>
        
        </main>

        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>